django
djangorestframework
django-cors-headers
gunicorn
psycopg[binary]
djangorestframework-simplejwt
celery
redis
django-minio-storage
django-celery-beat
Pillow
django-filter
django-ckeditor-5
django-jazzmin
whitenoise
